#environment {
	width: 800px;
	height: 800px;
	line-height: 0;
	border: 1px solid #F1C4BE;
	margin: 0px auto 0px;
}

body {
	text-align: center;
}

button {
	font-size: 13px;
}

.cell {
	background-color: white;
	display: inline-block;
}